# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Netlify CLI local files
.netlify/
.netlify/state.json

# Build output
dist/
build/
.drizzle/      # migration output folder

# TypeScript
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.vscodium/
.idea/

# Optional lock files if using alternative package managers
pnpm-lock.yaml
yarn.lock